DT.PCP.ServicesProxies/Service References/BddViolationService/TrafficViolationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.162:5336/TrafficViolationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dynamics.RTM.InfoCenter.Services" />
  <xs:import schemaLocation="http://192.168.0.162:5336/TrafficViolationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetTrafficViolations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.RTM.InfoCenter.Services" minOccurs="0" name="requestData" nillable="true" type="q1:TrafficViolationRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficViolationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.RTM.InfoCenter.Services" minOccurs="0" name="GetTrafficViolationsResult" nillable="true" type="q2:TrafficViolationServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficViolationsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driverFullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficViolationsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.RTM.InfoCenter.Services" minOccurs="0" name="GetTrafficViolationsByNameResult" nillable="true" type="q3:TrafficViolationServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransportOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grnz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="srts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransportOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.RTM.InfoCenter.Services" minOccurs="0" name="GetTransportOwnerResult" nillable="true" type="q4:TransportOwnerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grnz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficViolationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.RTM.InfoCenter.Services" minOccurs="0" name="GetTrafficViolationResult" nillable="true" type="q5:TrafficViolationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficViolationImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficViolationImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="GetTrafficViolationImageResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>