DT.PCP.ServicesProxies/Service References/BddViolationService/TrafficViolationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrafficViolationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.162:5336/TrafficViolationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.162:5336/TrafficViolationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.162:5336/TrafficViolationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dynamics.RTM.InfoCenter.Services" />
      <xsd:import schemaLocation="http://192.168.0.162:5336/TrafficViolationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolations" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolationsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolationsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolationsByName" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolationsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolationsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTransportOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransportOwner" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTransportOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransportOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolation" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolationResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolationImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolationImage" />
  </wsdl:message>
  <wsdl:message name="ITrafficViolationService_GetTrafficViolationImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrafficViolationImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrafficViolationService">
    <wsdl:operation name="GetTrafficViolations">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolations" message="tns:ITrafficViolationService_GetTrafficViolations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolationsResponse" message="tns:ITrafficViolationService_GetTrafficViolations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrafficViolationsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolationsByName" message="tns:ITrafficViolationService_GetTrafficViolationsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolationsByNameResponse" message="tns:ITrafficViolationService_GetTrafficViolationsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransportOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTransportOwner" message="tns:ITrafficViolationService_GetTransportOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTransportOwnerResponse" message="tns:ITrafficViolationService_GetTransportOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrafficViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolation" message="tns:ITrafficViolationService_GetTrafficViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolationResponse" message="tns:ITrafficViolationService_GetTrafficViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrafficViolationImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolationImage" message="tns:ITrafficViolationService_GetTrafficViolationImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficViolationService/GetTrafficViolationImageResponse" message="tns:ITrafficViolationService_GetTrafficViolationImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrafficViolationService" type="tns:ITrafficViolationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrafficViolations">
      <soap:operation soapAction="http://tempuri.org/ITrafficViolationService/GetTrafficViolations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrafficViolationsByName">
      <soap:operation soapAction="http://tempuri.org/ITrafficViolationService/GetTrafficViolationsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportOwner">
      <soap:operation soapAction="http://tempuri.org/ITrafficViolationService/GetTransportOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrafficViolation">
      <soap:operation soapAction="http://tempuri.org/ITrafficViolationService/GetTrafficViolation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrafficViolationImage">
      <soap:operation soapAction="http://tempuri.org/ITrafficViolationService/GetTrafficViolationImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrafficViolationService">
    <wsdl:port name="BasicHttpBinding_ITrafficViolationService" binding="tns:BasicHttpBinding_ITrafficViolationService">
      <soap:address location="http://192.168.0.162:5336/TrafficViolationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>