DT.PCP.ServicesProxies/Service References/BddPayRegisterService/TrafficViolationPayRegister.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="payData" type="tns:TrafficViolationPayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TrafficViolationPayData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="code_bank" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="system_id" type="tns:PayMethodAlias" />
      <xs:element minOccurs="0" maxOccurs="1" name="n_billing_doc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_reference_doc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="n_prescri" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="pay_penalty" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="rnn_iin_bin_payer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="name_payer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorrelationID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PayMethodAlias">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACQUIRE" />
      <xs:enumeration value="ACQUIREByCardReader" />
      <xs:enumeration value="ACCOUNT" />
      <xs:enumeration value="ATM" />
      <xs:enumeration value="PayOrder" />
      <xs:enumeration value="ManualPay" />
      <xs:enumeration value="PayRegister" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="tns:TrafficViolationPayResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TrafficViolationPayResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ResultCode" type="tns:ResultCodeEnum" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodeBank" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorrelationID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ResultCodeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="NonAuthentificationError" />
      <xs:enumeration value="DatabaseConnectionError" />
      <xs:enumeration value="RequestParametersError" />
      <xs:enumeration value="InformationNotFound" />
      <xs:enumeration value="RequestError" />
      <xs:enumeration value="PrescriptionPaid" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>